.git
.gitignore
.DS_Store
.idea
.codex

**/.env
**/.env.*
!server/.env.example

**/node_modules
**/vendor
**/dist
**/build
**/.cache
**/.dart_tool
**/.flutter-plugins*
**/*.log

flutter_app
Project_Doc
dev_doc
OpenAPI
Doc

server/runtime
server/public/storage/*
!server/public/storage/.gitkeep
saiadmin-artd/src/types/import/auto-imports.d.ts
saiadmin-artd/src/types/import/components.d.ts
